:host {
  flex-grow: 1;
}

.price-list,
.price-list td,
.price-list th {
  text-align: center;
  border-collapse: collapse;
}

.price-list td,
.price-list th {
  padding: 10px;
  
  border: 1px solid #222;
}

.price-list {
  margin: 0 auto;
}
