<p class="title">Inventory</p>

<div class="player-info">
  <player [player]="player"></player>

  <table class="statistics">
    <tr class="stat" *ngFor="let i of [0, 1, 2, 3]">
      <td>{{ Statistic[i] }}</td>
      <td>{{ player.statistics[Statistic[i].toLowerCase()] }}</td>
      <td><button (click)="onUpgradeStatistic(i)">+</button></td>
    </tr>    
    <tr>
      <td>Unspent points: {{ player.getUnspentPoints() }}</td>
    </tr>
  </table>
</div>

<table class="item-list">
  <tr>
    <th>Item Name</th>
    <th>Sell Price</th>
  </tr>
  <tr *ngFor="let item of player.getInventory().getItems()">
    <td>{{ item.name }}</td>
    <td>{{ game.getShop().getSellPrice(item) }}g</td>
    <td>
      <button (click)="onWear(item)">Wear {{ item.type === 'ring' ? '(Left)': '' }}</button>
      <button (click)="onWear(item, true)" *ngIf="item.type === 'ring'">Wear (Right)</button>
    </td>
    <td>
      <button (click)="onSell(item)">Sell</button>
    </td>
  </tr>
</table>
