:host {
  flex-grow: 1;
}

.player-info {
  display: flex;
  justify-content: space-around;

  padding: 0 4em;
}

.statistics td {
  padding: 0.25em 0.5em;
}

.item-list {
  padding: 0;
  margin: 1em 4em;

  border-collapse: collapse;
}

.item-list th,
.item-list td {
  padding: 0.5em 1em;

  border: 1px solid #222;

  text-align: center;
}

.statistics * {
  text-align: start;
}
