<div class="navbar" *ngIf="player">
  <ul class="links">
    <li *ngFor="let link of links">
      <a class="link" routerLink="{{ link.url }}" routerLinkActive="active">{{ link.name }}</a>
    </li>
  </ul>
  <div class="gold">
    <img src="assets/gold.png" alt="Gold">
    <span>{{ player.getInventory()?.getGold() || "0" }}</span>
  </div>
</div>

<router-outlet><router-outlet>

<form class="login" *ngIf="!player" (submit)="onUsernameSelect(username.value)">
  <label>Challenger, name yourself:</label>
  <input #username type="text" placeholder="Player Name" />

  <input type="submit" value="Play">
</form>
