<div class="navbar" *ngIf="player">
  <ul class="links">
    <li *ngFor="let link of links">
      <a class="link" routerLink="{{ link.url }}" routerLinkActive="active">{{ link.name }}</a>
    </li>
  </ul>
  <div class="gold">
    <img src="assets/gold.png" alt="Gold" (click)="cheatsOn = !cheatsOn">
    <span>{{ player.getInventory()?.getGold() || "0" }}</span>
    <button (click)="player.getInventory().addGold(100)" *ngIf="cheatsOn">+100g</button>
    <button (click)="player.addExpirience(100)" *ngIf="cheatsOn">+100EXP</button>
  </div>
</div>

<router-outlet><router-outlet>

<form class="login" *ngIf="!player" (submit)="onUsernameSelect(username.value)">
  <h1>Challenger, name yourself</h1>
  <input
    #username type="text" placeholder="Player Name"
    pattern="^[a-zA-Z][a-zA-Z0-9]{5,}$"
    title="Name should start with an English character, can contain numbers and must be at least 6 characters long."
    required autofocus autocomplete="nickname"
  >

  <input type="submit" value="Play">
</form>

<item-tooltip></item-tooltip>
