<p class="title">Fight</p>

<div class="fight">
  <player [player]="player"></player>

  <form class="actions" (submit)="onSubmit($event)">
    <div class="no-idea-how-to-name-this-class">
      <div class="column-attack">
        <p>Attack:</p>

        <div *ngFor="let part of Object.keys(BodyPart)">
          <input type="radio" name="attack" value="{{ part }}" [(ngModel)]="attackPart" />
          <label>{{ part }}</label>
        </div>

      </div>

      <div class="column-defence">
        <p>Defend:</p>

        <div *ngFor="let part of Object.keys(BodyPart)">
          <input type="radio" name="defend" value="{{ part }}" [(ngModel)]="defendPart" />
          <label>{{ part }}</label>
        </div>

      </div>
    </div>

    <input type="submit" value="Make a turn" [disabled]="fight.isFightFinished">
  </form>

  <player [player]="enemy"></player>
</div>
<ul class="battle-log" ngx-auto-scroll observe-attributes>
  <li *ngFor="let msg of fightLog" [innerHTML]="msg"></li>
</ul>
