:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.fight {
  display: flex;
  justify-content: space-around;
}

.actions {
  width: 12em;
}

.actions > div {
  display: flex;
  justify-content: space-around;
}

.actions > div > div {
  padding: 0.25em 0.5em;
}

.actions input[type=submit] {
  display: block;

  width: 10rem;

  margin: 1em auto;
}

.battle-log {
  flex-grow: 1;
  list-style-type: none;
  overflow: auto;

  height: 0;

  margin: 1em 0 0;
  padding: 0;

  border-top: 4px solid #222;

  background-color: #ddd;
}

.battle-log > li {  
  margin-left: 0.5em;
  padding: 0.25em 0.5em;

  border-left: 4px solid brown;
}
