.player {
  display: flex;

  width: 16rem;
  height: 16rem;

  text-align: center;
}

.column-left,
.column-right {
  width: 4rem;
}

.column-center {
  display: flex;
  flex-direction: column;

  width: 8rem;
}

.column-center img {
  flex-grow: 1;
}

.column-center * {
  width: 8rem;
}

.column-left slot, 
.column-right slot {
  border: 1px solid #222;
  border-bottom: 0;
}

.column-left slot:last-child, 
.column-right slot:last-child {
  border-bottom: 1px solid #222;
}

.column-center * {
  border-top: 1px solid #222;
}

.column-center *:last-child {
  border-bottom: 1px solid #222;
} 


