<div class="player">
  <div class="column-left">
    <div class="slot slot-head">{{ equipped.head?.name }}</div>
    <div class="slot slot-body">{{ equipped.body?.name }}</div>
    <div class="slot slot-pants">{{ equipped.pants?.name }}</div>
    <div class="slot slot-left-ring">{{ equipped.leftRing?.name }}</div>
  </div>

  <div class="column-center">
    <img src="player.png" alt="Player">
    <div class="slot slot-weapon">{{ equipped.weapon?.name }}</div>
  </div>

  <div class="column-right">
    <div class="slot slot-necklace">{{ equipped.necklace?.name }}</div>
    <div class="slot slot-gloves">{{ equipped.gloves?.name }}</div>
    <div class="slot slot-boots">{{ equipped.boots?.name }}</div>
    <div class="slot slot-right-ring">{{ equipped.rightRing?.name }}</div>
  </div>
</div>
