@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic');

*,
::before,
::after {
  box-sizing: border-box;
}

body, app-root {
  width: 100%;
  height: 100vh;

  margin: 0;
}

app-root {
  font-family: 'PT Sans', sans-serif;
}

.title {
  margin: 1em auto;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}

